<header>
    <nav>
        <a href="#">Home</a>
        <a href="#">Products</a>
        <a href="#">About Us</a>
        <a href="#">Policies</a>
        <a href="#">Contact</a>
        <a href="#">name:{{name}}</a>


    </nav>
</header>